{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Highly motivated and dedicated 4th-year BICT (Hons) in Software System Technology student at the University of Kelaniya. Experienced in working with the MERN stack (MongoDB, Express.js, React.js, and Node.js) to build robust and scalable web applications. Proficient in Python Flask and experienced with various Python libraries.</p>
        <p>Throughout my academic journey, I have developed a strong foundation in software engineering principles, data structures, and algorithms. I have a passion for creating innovative and user-friendly web solutions that optimize efficiency and enhance user experiences.</p>
        <p>During my studies, I have had the opportunity to work on several real-world projects, collaborating with diverse teams. These experiences have enhanced my problem-solving abilities and sharpened my communication skills, allowing me to effectively contribute to project success. Apart from my technical expertise, I am a quick and self-learner who enjoys staying up-to-date with the latest industry trends and technologies. I am always eager to expand my knowledge and explore new tools and frameworks to improve my development skills.</p>
        <p>As I progress toward graduation, I am seeking internship opportunities to apply my skills in a professional environment where I can contribute to cutting-edge web development projects. If you're looking for a passionate and dedicated software engineer with a strong background in MERN stack and Python let's connect and explore potential collaborations</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}







